<div class="settings-block">
	<h6>Rendering</h6>

	<div class="settings-left">
		Average FPS:
	</div>
	<div class="settings-right">
		XXXXX
	</div>
	<br>

	<div class="settings-left middle">
		Visualization smoothing length:
	</div>
	<div class="settings-right middle">
		<div style="display: inline-block; width: 70px;">{{visuSmoothingLength}}</div>
		<input class="slider" type="range" min="0.001" max="0.1" step="0.001" [(ngModel)]="visuSmoothingLength" title="visual smoothing length">

	</div>
	<br>

	<div class="settings-left">
		Particle size:
	</div>
	<div class="settings-right">
		<select class="select" [(ngModel)]="pSize" title="visual particle size">
			<option *ngFor="let size of sizes" [ngValue]="size" >{{size == 0 ? "hidden" : size}}</option>
		</select>
	</div>
</div>
