<div class="settings-block">
	<h6>Scenario</h6>
	<select class="select" style="width: 180px;" title="scenario">
		<option value="1">Dam break</option>
		<option value="2">Water drop</option>
		<option value="3">Random terrain</option>
		<option value="4">Interactive terrain</option>
	</select>
	<button class="button"> Select </button>
	<br>

	<div class="settings-left">
		Description:
	</div>
	<div class="settings-right">
		Some text here
	</div>
	<br>

	<div class="settings-left">
		Options:
	</div>
	<div class="settings-right">
		<label>
			<input type="checkbox">
			show analytical solution
		</label>
	</div>
	<br>

</div>
