<div class="settings-block">
	<h6>Simulation control</h6>

	<div class="settings-left">
		Total time:
	</div>
	<div class="settings-right">
		{{totalTime.toFixed(4)}}
	</div>
	<br>

	<div class="settings-left">
		<button class="button" (click)='onStartStopClick()'> {{startStopText}} </button>
	</div>
	<div class="settings-right">
		<label>
			<input type="checkbox" class="checkbox" [(ngModel)]="maxTimeEnabled">
			{{maxTimeText}}
		</label>
		<input type="text" *ngIf="maxTimeEnabled" style="display: inline; width: 80px;" maxlength="7" title="maximal time" >
	</div>
	<br>

	<div class="settings-left">
		<button class="button" (click)='onDoStepsClick()'> Do steps </button>
	</div>
	<div class="settings-right">
		<select class="select" [(ngModel)]="numSteps" title="number of steps">
			<option *ngFor="let steps of stepValues" [ngValue]="steps" >{{steps}}</option>
		</select>
		step(s)
	</div>
	<br>

	<div class="settings-left">
		<button class="button" (click)="onResetClick()"> Reset </button>
	</div>
	<div class="settings-right">
		<select class="select" [(ngModel)]="numParticles" title="number of particles">
			<option *ngFor="let ps of particleValues" [ngValue]="ps" >{{ps}}</option>
		</select>
		particles
	</div>
</div>

